<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <meta name="google-signin-client_id" content="{{{clientID}}}">

  <title>Saxa Labs</title>
  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.turbo360-dev.com/admin/assets/scaffold/css/style.min.css" />
</head>

<body>
  <div class="container pt-5">
    <h2>Enter New Password</h2>
    <form id="myform" action="/signin/forgot_password/otp/enter/confirm" method="post">
        <input type="password" id="password" name="password" placeholder="create new password" required><br>
        <input type="password" id="re-enter-password" name="re-enter-password" placeholder="re-enter new password" required><br>
        <input type="submit" value="Create Password">
    </form>
  </div>
</body>
</html>
